{% extends "orga/base.html" %}

{% load i18n %}

{% block content %}
    <div class="page-heading">
        <h2>{% trans "Set up public voting" %}</h2>
        <div class="page-heading-buttons">
            <a class="btn btn-outline-info" href="{{ export_url }}">
                {% translate "Download results CSV" %}
            </a>
            <a
                class="btn btn-secondary"
                href="{% if request.event.custom_domain %}{{ request.event.custom_domain }}{% endif %}{% url 'plugins:pretalx_public_voting:signup' event=request.event.slug %}"
            >
                {% translate "Go to public voting" %}
            </a>
        </div>
    </div>
    <p>
        {% blocktrans trimmed %}
            Public voting will show your submissions publicly, and will allow anybody who provides a valid email address
            to vote. The email addresses are not saved, so the process is anonymous.
        {% endblocktrans %}
    </p><p></p>
    {% include "orga/includes/base_form.html" %}
{% endblock %}
