{% extends "orga/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}
    <h2 class="d-flex">
        {% trans "Set up public voting" %}
        <div class="ml-auto">
            <a class="btn btn-outline-info" href="{{ export_url }}">
                {% translate "Download results CSV" %}
            </a>
            <a class="btn btn-info" href="{% if request.event.custom_domain %}{{ request.event.custom_domain }}{% endif %}{% url "plugins:pretalx_public_voting:signup" event=request.event.slug %}">
                {% translate "Go to public voting" %}
            </a>
        </div>
    </h2>
    <p>
        {% blocktrans trimmed %}
            Public voting will show your submissions publicly, and will allow anybody who
            provides a valid email address to vote. The email addresses are not saved,
            so the process is anonymous.
        {% endblocktrans %}
    </p><p> </p>
    {% include "orga/includes/base_form.html" %}

{% endblock %}
