{% extends "cfp/event/base.html" %}

{% load form_media %}
{% load i18n %}

{% block cfp_stylesheets %}
    {% form_media always_base=True %}
{% endblock cfp_stylesheets %}

{% block content %}
    <h1>{% trans "Public voting signup" %}</h1>
    <p>
        {% blocktrans trimmed with event_name=request.event.name %}
            Welcome to the voting process for this event! Voting is open to
            the public, and we just need to confirm your email address first. You will only
            need to do this once.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with event_name=request.event.name %}
            Please note that we do <strong>not</strong> store your email address, and all votes will be completely anonymous.
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <p class="d-flex">
            <button type="submit" class="btn btn-success ml-auto">Sign up</button>
        </p>
    </form>
{% endblock %}
