name: Code Style

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'pretalx_public_voting/locale/**'
      - 'pretalx_public_voting/static/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'pretalx_public_voting/locale/**'
      - 'pretalx_public_voting/static/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  style:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".github/workflows/python-version.txt"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: extractions/setup-just@v3
      - name: Run linters
        run: just fmt-check
  packaging:
    name: packaging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".github/workflows/python-version.txt"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install Dependencies
        run: uv pip install --system twine check-manifest build -e .
      - name: Run check-manifest
        run: check-manifest .
      - name: Build package
        run: python -m build
      - name: Check package
        run: twine check dist/*
